{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_report_template_delivery_show',{id:product_group_delivery.reportTemplateDelivery.id })):("pequiven_seip.product_group_delivery.product_group"|trans )},
        ( 'pequiven.update'|trans({},'messages') )
    ) }}
{% endblock %}

{% block body -%}
    <form method="POST" action="{{ path("pequiven_product_group_delivery_update",{id:product_group_delivery.id }) }}">
        <input type="hidden" name="_metod" value="PUT" />
       <br /><br />
       {% include 'PequivenSEIPBundle:Delivery/ProductGroupDelivery:_form.html.twig' %}
       {{ actions.update() }}
       {{ form_rest(form) }}
   </form>
{% endblock %}