{% extends "PequivenArrangementProgramBundle:ArrangementProgram:email/base.html.twig" %}
{% block subject %}
    El programa de gesti贸n {{ arrangementProgram.ref }} se envio a revisi贸n - SEIP
{% endblock subject %}
{% block contet_html %}
    El usuario <b>{{ user.getFullNameUser }}</b> acaba de enviar el programa de gesti贸n 
    <a href="{{ asset(path('pequiven_seip_arrangementprogram_show',{id: arrangementProgram.id },true)) }}">{{ arrangementProgram.ref }}</a> a revisi贸n.
    
    {% include 'PequivenArrangementProgramBundle:ArrangementProgram:email/detailsArrangementProgram.html.twig' %}
{% endblock contet_html %}