{% extends "PequivenSEIPBundle:Core:email/base.html.twig" %}
{% block contet_html %}
    El usuario {{ user.fullname }} acaba de enviar el programa de gesti贸n 
    <a href="{{ path('',{id: arrangementProgram.id }) }}">{{ arrangementProgram.ref }}</a> a revisi贸n.
    
    <br/>
    Para mayor informaci贸n visualice el programa de gesti贸n haciendo click <a href="{{ path('',{id: arrangementProgram.id }) }}">aqui</a>.
{% endblock contet_html %}