{% extends "PequivenSEIPBundle:Core:email/base.html.twig" %}
{% block contet_html %}
    El usuario {{ user.fullname }} acaba de revisar el programa de gestión 
    <a href="{{ path('',{id: arrangementProgram.id }) }}">{{ arrangementProgram.ref }}</a>.
    
    <br/>
    Para mayor información visualice el programa de gestión haciendo click <a href="{{ path('',{id: arrangementProgram.id }) }}">aqui</a>.
{% endblock contet_html %}