{% extends "PequivenArrangementProgramBundle:ArrangementProgram:email/base.html.twig" %}

{% block subject %}
    El programa de gestión {{ arrangementProgram.ref }} fue revisado - SEIP
{% endblock subject %}

{% block contet_html %}
    El usuario <b>{{ user.getFullNameUser }}</b> acaba de enviar el programa de gestión 
    <a href="{{ path('pequiven_seip_arrangementprogram_show',{id: arrangementProgram.id },true) }}">{{ arrangementProgram.ref }}</a>.
    
    {% include 'PequivenArrangementProgramBundle:ArrangementProgram:email/detailsArrangementProgram.html.twig' %}
{% endblock contet_html %}