{% extends "PequivenArrangementProgramBundle:ArrangementProgram:email/base.html.twig" %}

{% block subject %}
    El programa de gesti贸n {{ arrangementProgram.ref }} fue retornado a "en revisi贸n" - SEIP
{% endblock subject %}

{% block content_html %}
    El usuario <b>{{ user.getFullNameUser }}</b> acaba de retornar el programa de gesti贸n 
    <a href="{{ url('pequiven_seip_arrangementprogram_show',{id: arrangementProgram.id }) }}">{{ arrangementProgram.ref }}</a> a revisi贸n.
    
    {% include 'PequivenArrangementProgramBundle:ArrangementProgram:email/detailsArrangementProgram.html.twig' %}
{% endblock content_html %}