{#{% extends 'PequivenSEIPBundle:Template:Developer/layoutWithoutMenu.html.twig' %}#}
{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% block body %}
{#<style type="text/css">
	html,body{
		color: #ffffff;
		background: #ffffff;
		margin:0px;
		height:100%;
	}
</style>#}
<div class="columns">
    <div class="twelve-columns twelve-columns-mobile" align="center">
		<img src="{{ asset('bundles/pequivenseip/logotipos-pqv/construccion.png') }}" class="six-columns twelve-columns-mobile"/>	
	</div>
</div>
{% endblock %}