{% extends "::base.html.twig" %}
{% trans_default_domain 'TecnocreacionesVzlaGovernmentBundle' %}
{% block body %}
    Plantilla developer implementada en Symfony2
    <p>{{ 'tecnocreaciones_vzla_government.seip'|trans }}</p>
{% endblock body %}