{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}

{% block body %}
{% trans_default_domain 'sip' %}    
       <form method="POST" id="form_sip_center_add">
            <fieldset class="fieldset fields-list">
                <legend class="legend">{{ 'sip.assists'|trans ({}) }}</legend>
                    

                    <div class="field-block button-height" >
                        <label class="label">Fecha</label> 
                        <input type="text" class="input input-large" id="sip_center_fecha" name="sip_center[fecha]">
                    </div>                    
                    
                    <div class="field-block button-height" >
                            <p class="assistance button-height">

                            <label class="label">Centro Activo</label> 
                            <p class="assistanc button-height"> 
                                <textarea required="required"  id="obs_centro" name="sip_center_assists[obs_centro]" class=" input input-xlarge"></textarea> 

                                <input type="checkbox" name="sip_center_assists[status]" data="" value="0" class="switch blue-active mid-margin-right "  data-text-on="SI" data-text-off="NO">
                            <span class="info-spot">
                                <span class="icon-info-round"></span>
                                <span class="info-bubble">Seleccion si el punto estaba activado o no dependiendo de su caso</span>
                            </span> 
                            </p>         
                    </div>    
            
            </fieldset>
        </form>         

{% endblock %}

{% block javascript_base %}
    <script type="text/javascript">
        
        $(document).ready(function () {

            $('#switch-mode').change(function () {
                $('.switch-wrapper')[this.checked ? 'addClass' : 'removeClass']('reversed-switches');
            });            

            $("p.assistanc input").change(function () {
                var value = $(this).val();
                var assists = $(this).attr("data");
                if (value == 1) {
                    $(this).val(0);
                    //$("#obs_centro").attr("disabled", false);
                    //$("#obs_centro").attr("required", true);                    
                } else {
                    $(this).val(1);                    
                }
                //console.log((value));
            });
            
            
        });
    </script>
{% endblock %}