web/git
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/Resources/ExportedImages/*
/app/Resources/temp/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.*~
nbproject/
*~
/web/assets/
/var/spool/
composer.lock
/web/media/cache/
/web/php-export-handler/ExportedImages/*
/web/php-export-handler/temp/*
/web/css/
/web/js/
/web/compiled/*.js
/web/compiled/*.css
*.~lock*
/app/spool/
/web/ext/SeipProduction/build/
/web/uploads/documents/*


