{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig' %}
{% trans_default_domain 'PequivenIndicatorBundle' %}
{% import 'PequivenSEIPBundle:Template:Developer/Macros/buttons.html.twig' as buttons %}

{% block before_body %}
    {{ contentHeader("Consulta de Gestión") }}
{% endblock %}

{% block body -%}
    <form id="userItemsForm" action="" method="post"></form>
    <input type="hidden" id="ruta">
    <br>
    <div ng-controller="ListUserItemsController">
        <fieldset class="fieldset">
            <legend class="legend" ><b>Seleccione Empleado</b></legend>
            <div class="columns">                
                <div class="four-columns">                    
                    <input type="text" name="users" id="users" ng-model="model.users" style='width: 100%' />
                </div>
                <div class="eight-columns">
                    <button class="button" type="button" id="searchUserItems">Consultar</button>
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset">
            <div class="new-row-tablet new-row-mobile twelve-columns twelve-columns-tablet">
                {{ renderArea(constant('Pequiven\\SEIPBundle\\Model\\Box\\AreasBox::ITEMS')) }}
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("button#searchUserItems").click(function () {
                getUrl($("input#ruta").val());
            });

            function getUrl(idUser) {
                var data = {
                    idUser: idUser
                };
                $.ajax({
                    type: 'get',
                    url: '{{ path("pequiven_get_url_list_user") }}',
                    data: data,
                    success: function (data) {
                        $("form#userItemsForm").attr("action", data["url"]);
                        $("form#userItemsForm").submit();
                    }
                });
            }

            var urlResponsibles = '{{ path('pequiven_user_search_filter') }}';
            var parametersSelectResponsibles = {
                minimumInputLength: 3,
                multiple: false,
                allowClear: true,
                ajax: {// instead of writing the function to execute the request we use Select2's convenient helper
                    url: urlResponsibles,
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter the remote JSON data
                        return {results: data};
                        //console.log(data);
                    },
                    cache: true
                },
                initSelection: function (element, callback) {
                },
                formatResult: responsiblesFormatResult, // omitted for brevity, see the source of this page
                formatSelection: responsiblesFormatResult, // omitted for brevity, see the source of this page
                escapeMarkup: function (m) {
                    return m;
                } // we do not want to escape markup since we are displaying html in results
            };
            $('#users').select2(parametersSelectResponsibles);
        });
    </script>
{% endblock %}