{% extends "PequivenSEIPBundle:Template:Developer/Common/formLayoutShow.html.twig" %}

{% block body %}
    <p class="wrapped align-center button-height">
        <button type="button" class="button blue-gradient glossy" onclick="recalculateArrangementprogram()">Recalcular <span id="spanArrangementprogram"></span> programas</button>
    </p>
    <p class="wrapped align-center button-height">
        <button type="button" class="button blue-gradient glossy" onclick="recalculateIndicator()">Recalcular <span id="spanIndicator"></span> indicadores</button>
    </p>
    <p class="wrapped align-center button-height">
        <button type="button" class="button blue-gradient glossy" onclick="recalculateUserEvaluationDetails()">Recalcular <span id="spanUserEvaluationDetails"></span> usuarios</button>
    </p>
    {% if isAllowPolitic %}
        <p class="wrapped align-center button-height">
            <button type="button" class="button blue-gradient glossy" onclick="recalculateOnePerTen()">Recalcular <span id="spanOnePerTen"></span> personas</button>
        </p>
    {% endif %}
{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        var resultsArrangementprogram = {{ resultsArrangementprogram|json_encode()|raw }};
        var resultsIndicator = {{ resultsIndicator|json_encode()|raw }};
        var resultsUserEvaluationDetails = {{ resultsUserEvaluationDetails|json_encode()|raw }};
        {% if isAllowPolitic %}
            var resultsOnePerTen = {{ resultsOnePerTen|json_encode()|raw }};
        {% endif %}
        var cancelAjax = false;
        $(document).ready(function(){
            $('#spanArrangementprogram').html("#"+resultsArrangementprogram.length);
            $('#spanIndicator').html("#"+resultsIndicator.length);
            $('#spanUserEvaluationDetails').html("#"+resultsUserEvaluationDetails.length);
            {% if isAllowPolitic %}
                $('#spanOnePerTen').html("#"+resultsOnePerTen.length);
            {% endif %}
        });
        function recalculateArrangementprogram()
        {
            cancelAjax = false;
            openLoadingModal(resultsArrangementprogram,1);
        }
        function recalculateIndicator()
        {
            cancelAjax = false;
            openLoadingModal(resultsIndicator,2);
        }
        function recalculateUserEvaluationDetails()
        {
            cancelAjax = false;
            openLoadingModal(resultsUserEvaluationDetails,3);
        }
        function recalculateOnePerTen()
        {
            cancelAjax = false;
            openLoadingModal(resultsOnePerTen,4);
        }
        
        // Demo loading modal
        function openLoadingModal(data,type)
        {
                var timeout;

                $.modal({
                        contentAlign: 'center',
                        width: 400,
                        title: 'Cargando',
                        content: '<div style="line-height: 25px; padding: 0 0 10px"><span id="modal-status">Conectando al servidor...</span><br><span id="modal-progress">0%</span></div>',
                    buttons: {},
                    scrolling: false,
                    actions: {
                        'Cancel': {
                            color: 'red',
                            click: function (win) {
                                cancelAjax = true;
                                win.closeModal();
                            }
                        }
                    },
                    onOpen: function ()
                    {
                        // Progress bar
                        var progress = $('#modal-progress').progress(data.length, {
                            size: 370,
                            style: 'large',
                            barClasses: ['anthracite-gradient', 'glossy'],
                            stripes: true,
                            darkStripes: false,
                            showValue: false
                        }),
                            // Loading state
                            loaded = 0,
                            // Window
                            win = $(this),
                            // Status text
                            status = $('#modal-status'),
                            // Function to simulate loading
                            simulateLoading = function ()
                            {
                                ++loaded;
                                progress.setProgressValue(loaded + '%', true);
                                if (loaded === 100)
                                {
                                    progress.hideProgressStripes().changeProgressBarColor('green-gradient');
                                    status.text('Listo!');
                                    /*win.getModalContentBlock().message('Content loaded!', {
                                     classes: ['green-gradient', 'align-center'],
                                     arrow: 'bottom'
                                     });*/
                                    setTimeout(function () {
                                        win.closeModal();
                                    }, 1500);
                                }
                                else
                                {
                                    if (loaded === 1)
                                    {
                                        status.text('Loading data...');
                                        progress.changeProgressBarColor('blue-gradient');
                                    }
                                    else if (loaded === 25)
                                    {
                                        status.text('Loading assets (1/3)...');
                                    }
                                    else if (loaded === 45)
                                    {
                                        status.text('Loading assets (2/3)...');
                                    }
                                    else if (loaded === 85)
                                    {
                                        status.text('Loading assets (3/3)...');
                                    }
                                    else if (loaded === 92)
                                    {
                                        status.text('Initializing...');
                                    }
                                    timeout = setTimeout(simulateLoading, 50);
                                }
                            };

                        // Start
                        {#timeout = setTimeout(simulateLoading, 2000);#}
                        var i = 0;
                        function callAjax (data)
                        {
                           loaded = (100 * i) / data.length;
                           progress.setProgressValue(loaded.toFixed(2) + '%', true);
                           if(type == 3){
                               var numPersonal = data[i].numPersonal;
                               status.text('('+i+'/'+(data.length)+')Recalculando '+numPersonal+'...');
                           } else if(type == 4){
                               var nombre = data[i].firstname+' '+data[i].lastname;
                               status.text('('+i+'/'+(data.length)+')Recalculando '+nombre+'...');
                           }else{
                               var ref = data[i].ref;
                               status.text('('+i+'/'+(data.length)+')Recalculando '+ref+'...');
                           }
                           var url = Routing.generate('pequiven_result_recalculate',{id:data[i].id,type: type,_format:'json'});
                            $.ajax({
                                type: "POST",
                                url: url
                            }).done(function(){
                                progress.changeProgressBarColor('blue-gradient');
                                i++;
                                if(cancelAjax == false){
                                    if(i < data.length){
                                       callAjax(data);
                                    }else{
                                       progress.hideProgressStripes().changeProgressBarColor('green-gradient'); 
                                    }
                                }
                            }).error(function(a,b,c,f){
                                 var jsonResponse = $.parseJSON(a.responseText);
                                 status.text('ERROR: Recalculando '+ref+' ('+jsonResponse.message+')...');
                                 progress.changeProgressBarColor('red-gradient');
                            }); 
                        }
                        callAjax(data,0);
                    },
                    onClose: function ()
                    {
                        // Stop simulated loading if needed
                        cancelAjax = true;
                    }
                });
            }
            ;
    </script>
{% endblock javascript %}