<div class="block">	
	<div class="block-title">
        <h3 class="ng-binding">Estandarización</h3> 
        	<div class="button-group absolute-right compact">
            	<a class="button icon-list-add " href="" ng-click="loadTemplateActionEvolution()" title="">{{ 'pequiven.add'|trans({},'messages')  }}</a>
            </div>                   
    </div>
    <div class="with-padding">
	    <div class="new-row twelve-columns empty_row" align="center">                                 
			<br>No hay Carga                                
		</div> 
	</div>
</div>