{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.report_template.raw_material"|trans ),
        ( 'pequiven.update'|trans({},'messages') )
    ) }}
{% endblock %}

{% block body -%}
    <form method="POST" action="{{ path("pequiven_raw_material_consumption_planning_update",{id:app.request.get("id")}) }}">
        <input type="hidden" name="_metod" value="PUT" />
       <br /><br />
       {% include 'PequivenSEIPBundle:DataLoad/RawMaterial/RawMaterialConsumptionPlanning:_form.html.twig' %}
       {{ actions.update() }}
       {{ form_rest(form) }}
   </form>
{% endblock %}