{#% extends "::base.html.twig" %#}
{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}
{% trans_default_domain 'PequivenSEIPBundle' %}
{% block body %}
    <div class="three-columns four-columns-tablet six-columns-mobile" style="margin-bottom: -3px; margin-top: 4px" >
    {#{ 'pequiven_seip.seip'|trans }#}
        <img src="{{ asset('bundles/pequivenseip/logotipos-pqv/logo_pqv.gif') }}" />
    </div>
    {#% include 'PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig' %#}
{% endblock body %}
