{% trans_default_domain 'PequivenIndicatorBundle' %}
    
    <div ng-controller="TableFormatController">    
     <div ng-controller="IndicatorSigEvolutionController">
     	<div ng-controller="EvolutionIndicatorFilters">
    
        <form method="POST" id="form_action_evolution">
            <fieldset class="fieldset fields-list" open="">
                <legend class="legend">{{ 'sig.action_plan'|trans ({}, 'messages') }}</legend>
            
            <div class="field-block button-height" >
              
            
                        {{ form_widget(form) }}
            
            </div>
        
        </details> 