{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}

{% block body %}
{# formulario de lastperiod  #}
{% trans_default_domain 'PequivenIndicatorBundle' %}
    
    <div ng-controller="TableFormatController">
    <div ng-controller="EvolutionIndicatorFilters"> 
        
        <form method="POST" id="form_asoc_last_period">
            <fieldset class="fieldset fields-list">
                <legend class="legend">{{ 'sig.relation_indicator'|trans ({}, 'messages') }}</legend>
                {# {% for child in form.children %} #}
                  <div class="field-block button-height" >
                    
                        {{ form_widget(form) }}
                    
                    </div>
                
            </fieldset>
        </form>       
    </div>
</div>
{% endblock %}

