{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayoutSIG.html.twig' %}

{% block body %}
{% trans_default_domain 'PequivenIndicatorBundle' %} 
<fieldset class="fieldset fields-list">
    <legend class="legend" id="legend"></legend>         
        <!-- fomulario herencia causas -->        
        <form method="POST" id="form_causes_evolution_sync">            
            <div class="field-block button-height" >
                <label class="label">Seleccionar Indicador Origen</label>                
                <input type="text" id="data_indicator_origen" name="data_indicator[origen]" style='width: 270px'>
            </div>
            <div class="field-block button-height" >
                <label class="label">Seleccionar Causa Origen</label>
                <input type="text" id="data_cause_load" name="data_cause[load]" style='width: 270px'>
            </div>
        </form>        
</fieldset>

<script type="text/javascript">
$(document).ready(function(){
    $('#data_cause_load').prop('disabled', true);
    /*$('#fieldset').hide();
    $('#chargeCause').hide();
    $('#syncCause').hide();

    $("#load").click(function(){
        $('#legend').text('Carga de Causa');
        $('#syncCause').hide();
        $('#fieldset').show(600,function() {
            $('#chargeCause').show(400,function() {});                
        });
    });

    $("#sync").click(function(){
        $('#legend').text('Sincronizaci칩n de Causas y Acciones');
        $('#chargeCause').hide();
        $('#fieldset').show(600,function() {
            $('#syncCause').show(400,function() {});                
        });
    });    */
    $('#legend').text('Sincronizaci칩n de Causas y Acciones');
    setDataSelect('', Routing.generate('pequiven_indicator_to_causes'),'data_indicator_origen');            
});

function setDataSelect(data,route,select) {
    var urlResponsibles = route; 
    if (data == undefined) {        
        data = [];
    }
    $("#"+select).select2({
        minimumInputLength: 3,
        maximumSelectionLength: 1,
        maximumSelectionSize: 1,
        multiple: true,      
            formatInputTooShort: function () {
                return "Por favor, introduzca 3 o m치s caracteres";
            },
            formatSelectionTooBig: function (limit) {
                return 'M치ximo seleccionado.';
            },
        ajax: {// instead of writing the function to execute the request we use Select2's convenient helper
            url: urlResponsibles,
            dataType: 'json',
            quietMillis: 250,
            data: function (term, page) {
                return {query: term}; // search term                
            },
            results: function (data, page) { // parse the results into the format expected by Select2. 
                return {results: data};                
            },
            cache: true
        },
        initSelection: function (element, callback) {             
        },
        formatResult: indicatorFormatResult, // omitted for brevity, see the source of this page
        formatSelection: indicatorFormatResult, // omitted for brevity, see the source of this page
        escapeMarkup: function (m) {            
            return m;
        } // we do not want to escape markup since we are displaying html in results
    });
    if (data != undefined) {  
        var preselected = [];
        $.each(data, function (index, value) {
            preselected.push(value.id);
        });                
        $('#'+select).select2('data', data);
        $('#'+select).select2('val', preselected);         
    }
};

$('#data_indicator_origen').on('change',function(){
    var valor = $(this).val(); 
    $('#data_cause_load').prop('disabled', false);
    var route = Routing.generate('pequiven_indicator_get_to_causes')+"?idObject="+valor+"&typeObject=1"+"&month="+$('#month').val();    
    setDataSelect('', route,'data_cause_load');            
});

$('input#evolutioncause_valueOfcauses').keyup(function openConfirm() {        
    var valueCharge = $("#max").text();                
    var max = 100 - valueCharge;
    if ($("#evolutioncause_valueOfcauses").val() > max) {
        $.modal.alert('Valor ingresado mayor a avance valido para carga ' + max, {
            buttons: {
                'Aceptar': {
                    classes:    'huge blue-gradient glossy full-width',
                    click:      function(win) { win.closeModal(); 
                        $("#evolutioncause_valueOfcauses").val("")
                    }
                }
            }
        });            
    };
});    
</script>
{% endblock %}