{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.consumer_planning_service.consumer_planning_service"|trans ),
        ( 'pequiven.update'|trans({},'messages') )
    ) }}
{% endblock %}

{% block body -%}
    <form method="POST" action="{{ path('pequiven_consumer_planning_service_update',{id: consumer_planning_service.id })}}">
       <br /><br />
       {% include 'PequivenSEIPBundle:DataLoad/Service/ConsumerPlanningService:_form.html.twig' %}
       {{ actions.update() }}
       <div class="hidden">
           {{ form_rest(form) }}
       </div>
   </form>
{% endblock %}