parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     seip
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       mail.pequiven.com
    mailer_user:       rarias
    mailer_password:   s3cr3t0d13l

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
