{% block body %}
<form method="POST" id="form_tracing_add">
    <fieldset class="fieldset fields-list">
        <legend class="legend">Estandarización</legend>
            <div class="field-block button-height" >            
                {{ form_widget(form) }}            
            </div>                
    </fieldset>
</form>    
{% endblock %}