<div class="twelve-columns four-columns-tablet six-columns-mobile" {#style="max-width:100%; margin-bottom: -3px; margin-top: 4px"#} style="display:inline-block;" >
{#    <img width="200%" src="{{ asset('bundles/pequivenseip/logotipos-pqv/estadisticas.jpg') }}" style="margin-left: 15%" />#}
    <div style="text-align: center;">
        <img width="50%" src="{{ asset('bundles/pequivenseip/logotipos-pqv/logo_lineas_estrategicas.jpg') }}" />
    </div>
</div>