{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% block body %}
<hgroup id="main-title" class="thin breadcrumb">
    <h1>
        <a href="{{ path('fos_user_profile_show') }}">{{ 'pequiven_seip.profile.profile'|trans }}</a>
        <span class="icon-forward"></span>
        <span class="thin">{{ 'pequiven_seip.profile.update_password'|trans }}</span>
    </h1>
</hgroup>
{% include "PequivenSEIPBundle:FOSUserBundle:ChangePassword/changePassword_content.html.twig" %}
{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        
        $(document).ready(function()
        {
            charge();
            
            function charge(){
                $("#fos_user_change_password_form_new div label.required").attr("class","required label");
                $("#currentPassword label.required").attr("class","required label");
            }
            
        });
        
    </script>
    
{% endblock javascript %}
