<ul class="fa-ul">
{% for indicator in entity.indicators %}
    <li>
        {% set avancedUsed = indicator.getResult %}
        {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
        {{ generateLink(indicator) }}
    </li>
{% endfor  %}
</ul>