<ul class="fa-ul">
{% if childrens is not defined %}
    {% set childrens = entity.indicators %}
{% endif %}
{% for indicator in childrens %}
    <li>
        {% set avancedUsed = indicator.getResult %}
        {% include 'PequivenObjetiveBundle:Common:percentajeBarResult.html.twig' %}
        {{ generateLink(indicator) }}{% if indicator.weight > 0 %}&nbsp;({{ 'pequiven_seip.results.weight'|trans({},'PequivenSEIPBundle') }} {{ indicator.weight }}%){% endif %} - {{ indicatorService.resultWithArrangementRangeColor(indicator)|raw }}
    </li>
{% endfor  %}
</ul>