{% extends "PequivenSEIPBundle:Template:Developer/Common/tableFormat1.html.twig" %}

{% trans_default_domain 'PequivenArrangementProgramBundle' %}

{% block body -%}
    <hgroup id="main-title" class="thin breadcrumb">
        <h1>
            <a href="{{ path(route) }}">{{ 'pequiven.arrangement_program.arrangement_program'|trans }}</a>
            <span class="icon-forward"></span>
            <span class="thin">{{ 'pequiven.arrangement_program.for_reviewing_or_approving'|trans({},'PequivenArrangementProgramBundle') }}</span>
        </h1>
    </hgroup>
    
   {% include 'PequivenArrangementProgramBundle:ArrangementProgram:_index.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.select2').select2({
                allowClear: true
            });
        });
    </script>
{% endblock javascripts %}