{% trans_default_domain 'PequivenSEIPBundle' %}

<div id="footer">
    <hr class="hr-line-vzla-red" />
    <span class="footer-seip">{{ 'pequiven_seip.message_footer'|trans }}</span>
    <!-- <img src="{#{ asset('bundles/pequivenseip/logotipos-pqv/footer_seip4.png') }#}" height="35px" width="500px" /> -->
    {#{ 'pequiven_seip.message_footer'|trans }#}
    <br/>
    <span class="tag red-bg with-tooltip" title="{{ constant('Pequiven\\SEIPBundle\\PequivenSEIPBundle::VERSION_DATE') }}">{{ constant('Pequiven\\SEIPBundle\\PequivenSEIPBundle::VERSION') }}</span>
</div>