{% trans_default_domain 'PequivenSEIPBundle' %}

<div class="columns" class="vzla-header" style="height: 54px">
    <div class="three-columns four-columns-tablet six-columns-mobile" style="margin-bottom: -3px; margin-top: 4px" >
        <img class="resize-img-140" src="{{ asset('bundles/pequivenseip/logotipos-pqv/logo_menu_seip_watermark3.png') }}" width="75px" height="75px" />
    </div>
    <div class="six-columns four-columns-tablet six-columns-mobile" style="text-align: center;margin-bottom: 0;margin-top: 10px;">
{#        <span class="header-seip">{{ 'pequiven_seip.message_header_center'|trans|raw }}</span>#}
    </div>
    <div class="two-columns tree-columns-tablet hide-768" style="text-align: right;float: right;margin-bottom: 0px;">
{#        <img class="resize-img-140" src="{{ asset('bundles/tecnocreacionesvzlagovernment/logotipos-vzla/venezuela-ahora-es-todos.png') }}" width="80px" />#}
        <img class="resize-img-140" src="{{ asset('bundles/pequivenseip/logotipos-pqv/logo_pqv_watermark3.png') }}" height="75px" />
    </div>
</div>
{#<hr class="hr-line-vzla-red" style="margin-top:0px;margin-bottom: 4px;" />#}
{#{ locale_switcher(null,null,'TecnocreacionesVzlaGovernmentBundle:Template/Developer/Switcher:switcher_links.html.twig') }#}