{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}
{% import 'PequivenSIGBundle:Template:Buttons/buttons.html.twig' as buttons %}

{% trans_default_domain 'PequivenSIGBundle' %}

{% block before_body %}
    {{ contentHeader(
        {(path('pequiven_sig_monitoring_list')):('monitoring.title'|trans)},        
        ('pequiven_indicator.show'|trans)
    ) }}
{% endblock %} 

{% block body %}
<fieldset class="fieldset">
    <legend class="legend">{{ data }}&nbsp;</legend>
    <div class="columns">
        <!-- Sistema -->
        <div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
            <p class="inline-label">
                <label class="label">Sistema de la Calidad</label>
                    {{ data.description }}
            </p>
        </div>                
    </div>                        
</fieldset>	

{% include 'PequivenSIGBundle:Monitoring:Standardization/show.html.twig' %}                         
<br><br>
{% include 'PequivenSIGBundle:Monitoring:Maintenance/show.html.twig' %}                         

<p class="button-height align-right">          
    <div style="text-align: right; margin-left:15px;">
        {{ buttons.generic_ext_sv(path('pequiven_sig_monitoring_export', { 'id': data.id }),('Descargar'|trans({},'messages'))) }}
    </div>
</p>
{% endblock %}