{% trans_default_domain 'workStudyCircle' %}

<fieldset class="fieldset">
    <legend class="legend">{{ "workStudyCircle.files.add"|trans }}</legend>
    <div class="new-row-mobile twelve-columns-mobile twelve-columns-tablet twelve-columns-mobile">
        <p class="inline-label">
            <label class="label">Archivos Adjuntos</label>
            <input type="file">
        </p>
    </div>
</fieldset>