{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}
{% block body %}
<div class="with-padding">
	<fieldset class="fieldset">
	    <legend class="legend"><b>Configuration</b></legend>
	    <div class="columns">
	    	<div class="new-row four-columns four-columns-tablet four-columns-mobile">	    		
	    		<!--<input type="radio" name="objects" id="objetc1" value="1" class="radio mid-margin-left">-->
	    		<input type="radio" name="objects" id="objetc1" value="1">
	    		<label for="radio-2" class="label">&nbsp;Objetivos</label>
	    	</div>
			<div class="four-columns four-columns-tablet four-columns-mobile">
	    		<!--<input type="radio" name="objects" id="objetc2" value="2" class="radio mid-margin-left">-->
	    		<input type="radio" name="objects" id="objetc2" value="2">	    		
	    		<label for="radio-2" class="label">&nbsp;Programas de Gestión</label>
			</div>
			<div class="four-columns four-columns-tablet four-columns-mobile">
	    		<!--<input type="radio" name="objects" id="objetc3"  value="3" class="radio mid-margin-left">-->
	    		<input type="radio" name="objects" id="objetc3" value="3">	    			    		
	    		<label for="radio-2" class="label">&nbsp;Indicadores</label>
			</div>
	        {#<div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
	            <p class="inline-label">
	                <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
	                test
	            </p>
	        </div>#}
	    </div>
	</fieldset>
</div>

<div class="with-padding">
	<div class="columns">
		<div class="six-columns six-columns-tablet twelve-columns-mobile">
			<div id="show-data">				
				<div class="block large-margin-bottom">
					<div class="block-title"><h3 id="title-form"></h3></div>
						<div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">            				
				            <p class="inline-label">
				                <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>				                
                				<input type="text" id="select_to_data" name="select_to[data]" style='width: 270px'>
				            </p>					        
				        </div>							
				</div>				
			</div>
		</div>
		<div class="six-columns six-columns-tablet twelve-columns-mobile">
			<div id="list-data">								
				<h2 class="relative thin">
					Lista de Usuarios
					<span class="info-spot">
						<span class="icon-info-round"></span>
						<span class="info-bubble">
							Lista de Usuarios con sus diferentes funciones(Revisores, Notificadores y Aprobadores).
						</span>
					</span>
					<span class="button-group absolute-right">
						<a href="" id="addUser" title="Add user" class="button icon-plus-round">Añadir</a>
						<a href="" id="reload" title="Reload list" class="button icon-redo"></a>
					</span>
				</h2>
				<ul class="list spaced" id="body-list"></ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}		
<script src="{{  asset('bundles/pequivenseip/configurations.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#show-data').hide();
		$('#list-data').hide();

		$("input[name=objects]").click(function() {
	        var idObject = $(this).val();
	        confForm(idObject);//set de idObject
	        $('#show-data').show(); 
			//$('#list-data').hide();	        
	    });

	    //var arraRoutes = {1:' ',2:'pequiven_configurations_get_to_programs',3:' '};
	    //setRouteObjects(Routing.generate(arraRoutes[idObject]));
	});
</script>   
{% endblock %}