{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}
{% block body %}
<div class="with-padding">
	<a href class="margin-left" id="loading" style='display:none;'><span class="loader big working"></span></a>
	<p class="wrapped left-icon icon-info-round">La Siguiente Sección de Configuración solo ha sido liberada para Programas de Gestión Estrategicos. <a href="">Info</a></p>
	<fieldset class="fieldset">
	    <legend class="legend"><b>Configuration</b></legend>
	    <div class="columns">
	    	<div class="new-row four-columns four-columns-tablet four-columns-mobile">	    		
	    		<!--<input type="radio" name="objects" id="objetc1" value="1" class="radio mid-margin-left">-->
	    		<input type="radio" name="objects" id="objetc1" value="1">
	    		<label for="radio-2" class="label">&nbsp;Objetivos</label>
	    	</div>
			<div class="four-columns four-columns-tablet four-columns-mobile">
	    		<!--<input type="radio" name="objects" id="objetc2" value="2" class="radio mid-margin-left">-->
	    		<input type="radio" name="objects" id="objetc2" value="2">	    		
	    		<label for="radio-2" class="label">&nbsp;Programas de Gestión</label>
			</div>
			<div class="four-columns four-columns-tablet four-columns-mobile">
	    		<!--<input type="radio" name="objects" id="objetc3"  value="3" class="radio mid-margin-left">-->
	    		<input type="radio" name="objects" id="objetc3" value="3">	    			    		
	    		<label for="radio-2" class="label">&nbsp;Indicadores</label>
			</div>
	        {#<div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">
	            <p class="inline-label">
	                <label class="label">{{ 'pequiven.ref'|trans({},'messages') }}</label>
	                test
	            </p>
	        </div>#}
	    </div>
	</fieldset>
</div>

<div class="with-padding">	
	<div class="columns">
		<div class="six-columns six-columns-tablet twelve-columns-mobile">
			<div id="show-data">				
				<div class="block large-margin-bottom">
					<div class="block-title"><h3 id="title-form"></h3></div>
						<div class="new-row-mobile six-columns six-columns-tablet twelve-columns-mobile">            				
				            <p class="inline-label" id="label"></p>					        
				        </div>							
				</div>				
			</div>
		</div>
		<div class="six-columns six-columns-tablet twelve-columns-mobile" id="formAddUser">						
			<input type="text" id="data_user_select" name="data_user[select]" style="width: 270px">
			<select id="select-action" class="select2 input-large">
				<option value="1">Revisar</option>
				<option value="2">Notificar</option>
				<option value="3">Aprobar</option>
			</select>
			<input type="hidden" id="idObject" value="">			
			<a href="" id="save-to-form" title="Add user" class="button icon-tick"></a>
			<a href="" id="cancel-to-form" title="Reload list" class="button icon-cross"></a>									
		</div>
		<div class="six-columns six-columns-tablet twelve-columns-mobile">
			<div id="list-data">								
				<h2 class="relative thin">
					Lista de Usuarios
					<span class="info-spot">
						<span class="icon-info-round"></span>
						<span class="info-bubble">
							Lista de Usuarios con sus diferentes funciones(Revisores, Notificadores y Aprobadores).
						</span>
					</span>
					<span class="button-group absolute-right">
						<a href="" id="visualize" title="Views user" class="button icon-extract">Vizualizar</a>
						<a href="" id="addUser" title="Add user" class="button icon-plus-round">Añadir</a>
						<a href="" id="reload" title="Reload list" class="button icon-redo"></a>
					</span>
				</h2>
				<ul class="list spaced" id="body-list"></ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}		
<script src="{{  asset('bundles/pequivenseip/configurations.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#show-data').hide();
		$('#list-data').hide();
		$('#formAddUser').hide();

		$("input[name=objects]").click(function() {
	        var idObject = $(this).val();
	        confForm(idObject);//set de idObject
			$('#list-data').hide();
			$('#formAddUser').hide();
	        $('#show-data').show(); 			
	    });
		
		$("#select-action").select2({
            //minimumInputLength: 3,
        });
	    //var arraRoutes = {1:' ',2:'pequiven_configurations_get_to_programs',3:' '};
	    //setRouteObjects(Routing.generate(arraRoutes[idObject]));
	});
</script>   
{% endblock %}