pequiven_work_study_circle_create:
    path: /create
    defaults:
        _controller: pequiven.controller.work_study_circle:createAction
        _sylius:
            form: pequiven_seipbundle_politic_workstudycircle
    methods: [GET|POST]
    options:
        expose: true
        
pequiven_work_study_circle_member_edit:
    path: /edit-member/{idUser}
    defaults:
        _controller: pequiven.controller.work_study_circle:editWorkStudyCircleMemberAction
    methods: [GET|POST]
    options:
        expose: true
        
pequiven_work_study_circle_show:
    path: /{id}
    defaults:
        _controller: pequiven.controller.work_study_circle:showAction
    requirements:
        id: "\d+"
    methods: [GET]
    
pequiven_work_study_circle_show_phase:
    path: /showPhase/{id}
    defaults:
        _controller: pequiven.controller.work_study_circle:showPhaseAction
    requirements:
        id: "\d+"
    methods: [GET]

pequiven_work_study_circle_user_get_form:
    path: /{idUser}/get-form.{_format}
    defaults:
        _controller: pequiven.controller.user:getFormAction
        _format: html
    requirements:
        _format: html|json
    methods: [GET]
    options:
        expose: true
        
pequiven_work_study_circle_add_others_members:
    path: /{idWorkStudyCircle}/addOthersMembers.{_format}
    defaults:
        _controller: pequiven.controller.work_study_circle:addOthersMembersAction
        _format: html
    requirements:
        _format: html|json
    methods: [GET|POST]
    options:
        expose: true
        
pequiven_work_study_circle_delete_member:
    path: /{idUser}/deleteMember.{_format}
    defaults:
        _controller: pequiven.controller.work_study_circle:deleteMemberAction
        _format: html
    requirements:
        _format: html|json
    methods: [GET]
    options:
        expose: true
        
pequiven_work_study_circle_add_coordinator:
    path: /{idWorkStudyCircle}/addCoordinator.{_format}
    defaults:
        _controller: pequiven.controller.work_study_circle:addCoordinatorAction
        _format: html
    requirements:
        _format: html|json
    methods: [GET|POST]
    options:
        expose: true
        
pequiven_work_study_circle_export_BackRestpdf:
    path: /{idWorkStudyCircle}/exportBR.{_format}
    defaults:
        _controller: pequiven.controller.work_study_circle:exportBackRestAction
        _format: html
    requirements:
        _format: html|json
    methods: [GET|POST]
    options:
        expose: true
        
pequiven_work_study_circle_export_pdf:
    path: /{idWorkStudyCircle}/export.{_format}
    defaults:
        _controller: pequiven.controller.work_study_circle:exportAction
        _format: html
    requirements:
        _format: html|json
    methods: [GET|POST]
    options:
        expose: true
        
pequiven_work_study_circle_general:
    path: /view/{phase}
    defaults:
        _controller: pequiven.controller.work_study_circle:viewAction
        phase: 1
    requirements:
        _format: html|json|xml
        phase: "\d+"
    methods: [GET]
    
pequiven_work_study_circle_list:
    path: /list/{phase}/.{_format}
    defaults:
        _controller: pequiven.controller.work_study_circle:listAction  
        _format: html
        phase: 1
    requirements:
        _format: html|json|xml
        phase: "\d+"
    methods: [GET]
    
pequiven_proposal_inherited_work_study_circle:
    path: /list-inherited.{_format}
    defaults: 
        _controller: pequiven.controller.proposal:listPhaseAction
        _format: html
    requirements:
        _format: html|json|xml
    methods: [GET]
    
pequiven_work_study_circle_coordinators:
    path: /coordinators.{_format}
    defaults: 
        _controller: pequiven_seip.controller.user:searchCoordinatorAction
        _format: json
    requirements:
        _format: "json|xml"
    methods: [GET]
    options:
        expose: true
        
pequiven_work_study_circle_only_coordinators:
    path: /only-coordinators.{_format}
    defaults: 
        _controller: pequiven_seip.controller.user:searchOnlyCoordinatorAction
        _format: json
    requirements:
        _format: "json|xml"
    methods: [GET]
    options:
        expose: true
        
pequiven_work_study_circle_get_url_file:
    path: /.{_format}
    defaults:
        _controller: pequiven.controller.meeting:generateUrlFileAction 
        _format: html
    requirements:
        _format: html|json|xml
    methods: [GET|POST]
            
pequiven_work_study_circle_download_file:
    path: /showDocument
    defaults:
        _controller: pequiven.controller.meeting:downloadFileAction 
        expose: true   

pequiven_work_study_circle_document_list:
    path: /listFile.{_format}
    defaults:
        _controller: pequiven.controller.meetingFile:listAction 
        _format: html
    requirements:
        _format: html|json|xml
    methods: [GET|POST]
    
pequiven_work_study_circle_document_general:
    path: /general.{_format}
    defaults:
        _controller: pequiven.controller.meeting:listGeneralAction 
        _format: html
    requirements:
        _format: html|json|xml
    methods: [GET|POST]