<style type="text/css">
    #title-bar ~ #shortcuts{top:9.3px;background-image:url(); /*background-color: transparent; */}
    /*#title-bar ~ #main{width: 81.5%;margin-left: 48px;}*/
    #title-bar ~ #main{margin-left: 3.5%;}
</style>

<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
    <li class="current"><a href="" class="shortcut-dashboard" title="Objetivos">Objetivos</a></li>
    <li><a href="" class="shortcut-messages" title="Programas de Gestión">Programas de Gestión</a></li>
    <li><a href="" class="shortcut-agenda" title="Indicadores">Indicadores</a></li>
    <li><a href="" class="shortcut-contacts" title="Resultados">Resultados</a></li>
    <li><a href="" class="shortcut-medias" title="Dashboard">Dashboard</a></li>
    <li><a href="" class="shortcut-stats" title="Stats">Stats</a></li>
    <li class="at-bottom"><a href="form.html" class="shortcut-settings" title="Settings">Settings</a></li>
    <li><span class="shortcut-notes" title="Notes">Notes</span></li>
</ul>