<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
    <li class="current"><a href="index-2.html" class="shortcut-dashboard" title="Dashboard">Dashboard</a></li>
    <li><a href="inbox.html" class="shortcut-messages" title="Messages">Messages</a></li>
    <li><a href="agenda.html" class="shortcut-agenda" title="Agenda">Agenda</a></li>
    <li><a href="tables.html" class="shortcut-contacts" title="Contacts">Contacts</a></li>
    <li><a href="explorer.html" class="shortcut-medias" title="Medias">Medias</a></li>
    <li><a href="sliders.html" class="shortcut-stats" title="Stats">Stats</a></li>
    <li class="at-bottom"><a href="form.html" class="shortcut-settings" title="Settings">Settings</a></li>
    <li><span class="shortcut-notes" title="Notes">Notes</span></li>
</ul>