@font-face {
	font-family: "Flaticon";
	src: url("humanitarian.eot");
	src: url("humanitarian.eot#iefix") format("embedded-opentype"),
	url("humanitarian.woff") format("woff"),
	url("humanitarian.ttf") format("truetype"),
	url("humanitarian.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font: normal normal normal 14px/1 Flaticon;
    font-size: inherit;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    display: inline-block;
}.flaticon-a5:before {
	content: "\e000";
}
.flaticon-a6:before {
	content: "\e001";
}
.flaticon-a7:before {
	content: "\e002";
}
.flaticon-accessibility4:before {
	content: "\e003";
}
.flaticon-accomodation:before {
	content: "\e004";
}
.flaticon-airplane39:before {
	content: "\e005";
}
.flaticon-airplane40:before {
	content: "\e006";
}
.flaticon-airplane41:before {
	content: "\e007";
}
.flaticon-anchor17:before {
	content: "\e008";
}
.flaticon-anchor18:before {
	content: "\e009";
}
.flaticon-anchor19:before {
	content: "\e00a";
}
.flaticon-approve6:before {
	content: "\e00b";
}
.flaticon-approved1:before {
	content: "\e00c";
}
.flaticon-approved2:before {
	content: "\e00d";
}
.flaticon-approved3:before {
	content: "\e00e";
}
.flaticon-approved4:before {
	content: "\e00f";
}
.flaticon-armed1:before {
	content: "\e010";
}
.flaticon-arriving:before {
	content: "\e011";
}
.flaticon-arrow470:before {
	content: "\e012";
}
.flaticon-ascendant2:before {
	content: "\e013";
}
.flaticon-baby20:before {
	content: "\e014";
}
.flaticon-baby21:before {
	content: "\e015";
}
.flaticon-boat10:before {
	content: "\e016";
}
.flaticon-book98:before {
	content: "\e017";
}
.flaticon-book99:before {
	content: "\e018";
}
.flaticon-bottle17:before {
	content: "\e019";
}
.flaticon-bottle18:before {
	content: "\e01a";
}
.flaticon-bottle19:before {
	content: "\e01b";
}
.flaticon-building11:before {
	content: "\e01c";
}
.flaticon-building12:before {
	content: "\e01d";
}
.flaticon-building13:before {
	content: "\e01e";
}
.flaticon-business30:before {
	content: "\e01f";
}
.flaticon-buttons3:before {
	content: "\e020";
}
.flaticon-caduceus:before {
	content: "\e021";
}
.flaticon-calendar54:before {
	content: "\e022";
}
.flaticon-camping2:before {
	content: "\e023";
}
.flaticon-capital1:before {
	content: "\e024";
}
.flaticon-capital2:before {
	content: "\e025";
}
.flaticon-captains1:before {
	content: "\e026";
}
.flaticon-car73:before {
	content: "\e027";
}
.flaticon-car74:before {
	content: "\e028";
}
.flaticon-car75:before {
	content: "\e029";
}
.flaticon-cargo7:before {
	content: "\e02a";
}
.flaticon-cellphone7:before {
	content: "\e02b";
}
.flaticon-cellphone8:before {
	content: "\e02c";
}
.flaticon-cereals:before {
	content: "\e02d";
}
.flaticon-check32:before {
	content: "\e02e";
}
.flaticon-check33:before {
	content: "\e02f";
}
.flaticon-child3:before {
	content: "\e030";
}
.flaticon-circle39:before {
	content: "\e031";
}
.flaticon-circle40:before {
	content: "\e032";
}
.flaticon-city9:before {
	content: "\e033";
}
.flaticon-clipboard36:before {
	content: "\e034";
}
.flaticon-computer79:before {
	content: "\e035";
}
.flaticon-couple41:before {
	content: "\e036";
}
.flaticon-cricket:before {
	content: "\e037";
}
.flaticon-cross43:before {
	content: "\e038";
}
.flaticon-cross44:before {
	content: "\e039";
}
.flaticon-cross45:before {
	content: "\e03a";
}
.flaticon-cruise4:before {
	content: "\e03b";
}
.flaticon-cruise5:before {
	content: "\e03c";
}
.flaticon-cycle3:before {
	content: "\e03d";
}
.flaticon-dollar83:before {
	content: "\e03e";
}
.flaticon-dropbox14:before {
	content: "\e03f";
}
.flaticon-drought:before {
	content: "\e040";
}
.flaticon-education7:before {
	content: "\e041";
}
.flaticon-education8:before {
	content: "\e042";
}
.flaticon-education9:before {
	content: "\e043";
}
.flaticon-electroshock:before {
	content: "\e044";
}
.flaticon-erupting:before {
	content: "\e045";
}
.flaticon-family4:before {
	content: "\e046";
}
.flaticon-family5:before {
	content: "\e047";
}
.flaticon-family6:before {
	content: "\e048";
}
.flaticon-female102:before {
	content: "\e049";
}
.flaticon-filter11:before {
	content: "\e04a";
}
.flaticon-filter12:before {
	content: "\e04b";
}
.flaticon-fire18:before {
	content: "\e04c";
}
.flaticon-first14:before {
	content: "\e04d";
}
.flaticon-first15:before {
	content: "\e04e";
}
.flaticon-flame2:before {
	content: "\e04f";
}
.flaticon-flood1:before {
	content: "\e050";
}
.flaticon-flood:before {
	content: "\e051";
}
.flaticon-food10:before {
	content: "\e052";
}
.flaticon-food11:before {
	content: "\e053";
}
.flaticon-food12:before {
	content: "\e054";
}
.flaticon-food13:before {
	content: "\e055";
}
.flaticon-fort1:before {
	content: "\e056";
}
.flaticon-four32:before {
	content: "\e057";
}
.flaticon-four33:before {
	content: "\e058";
}
.flaticon-gas10:before {
	content: "\e059";
}
.flaticon-gas11:before {
	content: "\e05a";
}
.flaticon-glass9:before {
	content: "\e05b";
}
.flaticon-grinder1:before {
	content: "\e05c";
}
.flaticon-group42:before {
	content: "\e05d";
}
.flaticon-group43:before {
	content: "\e05e";
}
.flaticon-hammer23:before {
	content: "\e05f";
}
.flaticon-hammer24:before {
	content: "\e060";
}
.flaticon-hammer25:before {
	content: "\e061";
}
.flaticon-heat:before {
	content: "\e062";
}
.flaticon-helicopter14:before {
	content: "\e063";
}
.flaticon-hierarchy8:before {
	content: "\e064";
}
.flaticon-hill1:before {
	content: "\e065";
}
.flaticon-hill:before {
	content: "\e066";
}
.flaticon-hotel18:before {
	content: "\e067";
}
.flaticon-hotel19:before {
	content: "\e068";
}
.flaticon-hotel20:before {
	content: "\e069";
}
.flaticon-hotel21:before {
	content: "\e06a";
}
.flaticon-house48:before {
	content: "\e06b";
}
.flaticon-house49:before {
	content: "\e06c";
}
.flaticon-house50:before {
	content: "\e06d";
}
.flaticon-human44:before {
	content: "\e06e";
}
.flaticon-indian2:before {
	content: "\e06f";
}
.flaticon-indian3:before {
	content: "\e070";
}
.flaticon-indian4:before {
	content: "\e071";
}
.flaticon-insect3:before {
	content: "\e072";
}
.flaticon-interface37:before {
	content: "\e073";
}
.flaticon-interface38:before {
	content: "\e074";
}
.flaticon-islam:before {
	content: "\e075";
}
.flaticon-kitchen15:before {
	content: "\e076";
}
.flaticon-land1:before {
	content: "\e077";
}
.flaticon-landslide:before {
	content: "\e078";
}
.flaticon-land:before {
	content: "\e079";
}
.flaticon-laptop40:before {
	content: "\e07a";
}
.flaticon-leader:before {
	content: "\e07b";
}
.flaticon-legal2:before {
	content: "\e07c";
}
.flaticon-legal3:before {
	content: "\e07d";
}
.flaticon-light47:before {
	content: "\e07e";
}
.flaticon-liquid1:before {
	content: "\e07f";
}
.flaticon-liquid2:before {
	content: "\e080";
}
.flaticon-mammal2:before {
	content: "\e081";
}
.flaticon-man145:before {
	content: "\e082";
}
.flaticon-man146:before {
	content: "\e083";
}
.flaticon-man147:before {
	content: "\e084";
}
.flaticon-man148:before {
	content: "\e085";
}
.flaticon-man149:before {
	content: "\e086";
}
.flaticon-man150:before {
	content: "\e087";
}
.flaticon-man151:before {
	content: "\e088";
}
.flaticon-medicine18:before {
	content: "\e089";
}
.flaticon-men8:before {
	content: "\e08a";
}
.flaticon-military8:before {
	content: "\e08b";
}
.flaticon-minus23:before {
	content: "\e08c";
}
.flaticon-money11:before {
	content: "\e08d";
}
.flaticon-monitor25:before {
	content: "\e08e";
}
.flaticon-mosquito1:before {
	content: "\e08f";
}
.flaticon-mosquito:before {
	content: "\e090";
}
.flaticon-mountains1:before {
	content: "\e091";
}
.flaticon-natural:before {
	content: "\e092";
}
.flaticon-nfi1:before {
	content: "\e093";
}
.flaticon-nfi:before {
	content: "\e094";
}
.flaticon-ngo:before {
	content: "\e095";
}
.flaticon-non1:before {
	content: "\e096";
}
.flaticon-not10:before {
	content: "\e097";
}
.flaticon-numbers1:before {
	content: "\e098";
}
.flaticon-ocean:before {
	content: "\e099";
}
.flaticon-old33:before {
	content: "\e09a";
}
.flaticon-old34:before {
	content: "\e09b";
}
.flaticon-om1:before {
	content: "\e09c";
}
.flaticon-one15:before {
	content: "\e09d";
}
.flaticon-open101:before {
	content: "\e09e";
}
.flaticon-open102:before {
	content: "\e09f";
}
.flaticon-opened3:before {
	content: "\e0a0";
}
.flaticon-opened4:before {
	content: "\e0a1";
}
.flaticon-paper52:before {
	content: "\e0a2";
}
.flaticon-paper53:before {
	content: "\e0a3";
}
.flaticon-peace:before {
	content: "\e0a4";
}
.flaticon-pencil33:before {
	content: "\e0a5";
}
.flaticon-person192:before {
	content: "\e0a6";
}
.flaticon-persons2:before {
	content: "\e0a7";
}
.flaticon-pie22:before {
	content: "\e0a8";
}
.flaticon-police17:before {
	content: "\e0a9";
}
.flaticon-police18:before {
	content: "\e0aa";
}
.flaticon-police19:before {
	content: "\e0ab";
}
.flaticon-poor:before {
	content: "\e0ac";
}
.flaticon-portable1:before {
	content: "\e0ad";
}
.flaticon-portable:before {
	content: "\e0ae";
}
.flaticon-price2:before {
	content: "\e0af";
}
.flaticon-professor:before {
	content: "\e0b0";
}
.flaticon-push26:before {
	content: "\e0b1";
}
.flaticon-race:before {
	content: "\e0b2";
}
.flaticon-radio27:before {
	content: "\e0b3";
}
.flaticon-raise1:before {
	content: "\e0b4";
}
.flaticon-ribbon39:before {
	content: "\e0b5";
}
.flaticon-ribbon40:before {
	content: "\e0b6";
}
.flaticon-robber1:before {
	content: "\e0b7";
}
.flaticon-robber2:before {
	content: "\e0b8";
}
.flaticon-robber:before {
	content: "\e0b9";
}
.flaticon-roll:before {
	content: "\e0ba";
}
.flaticon-route1:before {
	content: "\e0bb";
}
.flaticon-route2:before {
	content: "\e0bc";
}
.flaticon-route3:before {
	content: "\e0bd";
}
.flaticon-route4:before {
	content: "\e0be";
}
.flaticon-route5:before {
	content: "\e0bf";
}
.flaticon-sailing6:before {
	content: "\e0c0";
}
.flaticon-salt3:before {
	content: "\e0c1";
}
.flaticon-school24:before {
	content: "\e0c2";
}
.flaticon-schoolboy:before {
	content: "\e0c3";
}
.flaticon-searching17:before {
	content: "\e0c4";
}
.flaticon-security13:before {
	content: "\e0c5";
}
.flaticon-shovel1:before {
	content: "\e0c6";
}
.flaticon-shower4:before {
	content: "\e0c7";
}
.flaticon-signal23:before {
	content: "\e0c8";
}
.flaticon-sitting5:before {
	content: "\e0c9";
}
.flaticon-sniper2:before {
	content: "\e0ca";
}
.flaticon-snowflake124:before {
	content: "\e0cb";
}
.flaticon-snowflake125:before {
	content: "\e0cc";
}
.flaticon-speech61:before {
	content: "\e0cd";
}
.flaticon-standing49:before {
	content: "\e0ce";
}
.flaticon-standing50:before {
	content: "\e0cf";
}
.flaticon-star69:before {
	content: "\e0d0";
}
.flaticon-star70:before {
	content: "\e0d1";
}
.flaticon-star71:before {
	content: "\e0d2";
}
.flaticon-stocks2:before {
	content: "\e0d3";
}
.flaticon-stocks3:before {
	content: "\e0d4";
}
.flaticon-stocks4:before {
	content: "\e0d5";
}
.flaticon-surprised3:before {
	content: "\e0d6";
}
.flaticon-swimmer2:before {
	content: "\e0d7";
}
.flaticon-swimmer3:before {
	content: "\e0d8";
}
.flaticon-tanker:before {
	content: "\e0d9";
}
.flaticon-tent2:before {
	content: "\e0da";
}
.flaticon-tent3:before {
	content: "\e0db";
}
.flaticon-tent4:before {
	content: "\e0dc";
}
.flaticon-thermometer24:before {
	content: "\e0dd";
}
.flaticon-three61:before {
	content: "\e0de";
}
.flaticon-three62:before {
	content: "\e0df";
}
.flaticon-tied:before {
	content: "\e0e0";
}
.flaticon-transit8:before {
	content: "\e0e1";
}
.flaticon-transit9:before {
	content: "\e0e2";
}
.flaticon-transport4:before {
	content: "\e0e3";
}
.flaticon-trash31:before {
	content: "\e0e4";
}
.flaticon-truck15:before {
	content: "\e0e5";
}
.flaticon-tshirt16:before {
	content: "\e0e6";
}
.flaticon-tsunami:before {
	content: "\e0e7";
}
.flaticon-tunnel1:before {
	content: "\e0e8";
}
.flaticon-tunnel:before {
	content: "\e0e9";
}
.flaticon-two127:before {
	content: "\e0ea";
}
.flaticon-united3:before {
	content: "\e0eb";
}
.flaticon-united4:before {
	content: "\e0ec";
}
.flaticon-vintage40:before {
	content: "\e0ed";
}
.flaticon-volume36:before {
	content: "\e0ee";
}
.flaticon-walkie3:before {
	content: "\e0ef";
}
.flaticon-water20:before {
	content: "\e0f0";
}
.flaticon-water21:before {
	content: "\e0f1";
}
.flaticon-water22:before {
	content: "\e0f2";
}
.flaticon-wheat5:before {
	content: "\e0f3";
}
.flaticon-wheat6:before {
	content: "\e0f4";
}
.flaticon-wheat7:before {
	content: "\e0f5";
}
.flaticon-white69:before {
	content: "\e0f6";
}
.flaticon-windsock:before {
	content: "\e0f7";
}
.flaticon-wrench29:before {
	content: "\e0f8";
}
.flaticon-writting:before {
	content: "\e0f9";
}
