<div class="block large-margin-bottom">
    <div class="block-title">
        <h3>Next events</h3>
        <span class="ribbon"><span class="ribbon-inner">3 new</span></span>
    </div>

    <ul class="events">

        <li>
            <span class="event-date orange">8</span>
            <a href="javascript:void(0);" class="event-description">
                <h4>Event title</h4>
                <p>Event description text</p>
            </a>
        </li>

        <li>
            <span class="event-date">15</span>
            <span class="event-description">
                <h4>Another event</h4>
                <p>Other event description text, other event description text</p>
            </span>
            <span class="ribbon tiny"><span class="ribbon-inner red-gradient">High</span></span>
        </li>

        <li>
            <span class="event-date with-month">
                8 <span class="event-month">April</span>
            </span>
            <h4>Next month event</h4>
            <p>Another description text</p>
        </li>

    </ul>
</div>