<br/>
<div style="color: #989898; margin-top: 80px">
    Este correo fue enviado a traves del 
    <b><a href="seip.pequiven.com" target="_blank">Sistema Estadístico de Información Petroquímica (SEIP)</a></b>,
    si esta recibiendo recibiendo correos que no corresponden a su interes por favor notifiquelo a seip@pequiven.com
</div>