{% trans_default_domain 'PequivenSEIPBundle' %}
<table style="margin-bottom: 15px">
    <tr style="height: 73px;">
        <td>
            <img src="{{ asset('bundles/pequivenseip/logotipos-pqv/logo_pqv3.gif') }}" style="width: 73px;height: 73px; float: right" />
        </td>
        <td>
            <span style="font-family: Open Sans Light;
            color: #FF0000;
            font-size: 1.8em;
            font-weight: bold;
            font-variant: small-caps;
            font-style: oblique;">{{ 'pequiven_seip.message_header_center'|trans|raw }}</span>
        </td>
        <td>
            <img src="{{ asset('bundles/pequivenseip/logotipos-pqv/logo_menu_seip2.gif') }}" style="width: 73px;height: 73px;float: left" />
        </td>
    </tr>
</table>
    
<hr style="margin-top:0px;margin-bottom: 4px;color: red;background-color: #f42a41;border: 2px solid #f42a41;" />
