{% trans_default_domain 'PequivenSEIPBundle' %}
<table>
    <tr>
        <td>
            <img src="https://921b8af9db0f652ffef71ae8f1da8dccb31a54f6-www.googledrive.com/host/0B_iNDSs6CSSNTExqT25YTlprR0k/bundles/pequivenseip/logotipos-pqv/logo_menu_seip.gif" style="width: 73px" />
        </td>
        <td>
            <span class="header-seip">{{ 'pequiven_seip.message_header_center'|trans|raw }}</span>
        </td>
        <td>
            <img class="resize-img-140" src="https://921b8af9db0f652ffef71ae8f1da8dccb31a54f6-www.googledrive.com/host/0B_iNDSs6CSSNTExqT25YTlprR0k/bundles/pequivenseip/logotipos-pqv/logo_pqv3.gif" style="width: 73px; float: right" />
        </td>
    </tr>
</table>
    
<hr class="hr-line-vzla-red" style="margin-top:0px;margin-bottom: 4px;color: red" />
