@font-face {
  font-family: 'Neuropol';
  src: url('Neuropol.ttf') format('truetype');
}

.header-seip{
    font-family: Open Sans Light;
    color: #FF0000;    
    font-size: 1.8em;
    font-weight: bold;
    font-variant: small-caps;
    font-style: oblique;
}

.footer-seip{
    font-family: Open Sans Light;
    color: #FF0000;
    font-size: 1.3em;
    font-weight: bold;
    font-variant: small-caps;
    font-style: oblique;
}