@font-face {
  font-family: 'Neuropol';
  src: url('Neuropol.ttf') format('truetype');
}

.header-seip{
    font-family: 'Neuropol';
    color: #FF0000;    
    font-size: 1.2em;
    font-weight: bold;
    top: 50%;
}

.footer-seip{
    font-family: 'Neuropol';
    color: #FF0000;
    font-size: 1.1em;
    font-weight: bold;
}