/* 
    Created on : 24/03/2014, 08:05:53 AM
    Author     : Carlos Mendoza <inhack20@tecnocreaciones.com>
*/
.main-frontend {
    margin: 10px auto;
/*    width: 80%;*/
    min-height: 600px;
}
.custom-scroll{
    margin-top: 10px;
    
}

.content-container{
    min-height: 450px;
    padding: 10px;
}
.alert-danger {
    color: red;
    font-weight: bold;
}
.input-large {
    width: 200px;
    min-width: 200px;
}
.input-xlarge {
    width: 300px;
    min-width: 300px;
}
.select-large {
    width: 223px;
    min-width: 223px;
}
.input-small {
    width: 100px;
    min-width: 100px;
}
.list-style-none {
    list-style-type: none;
}
.breadcrumb > h1 > span
{
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
.breadcrumb > span {
    font-size: 15px;
    color: #b3b5b8;
}
.logo-menu-mobile{
    position: absolute;
    z-index: 5;
    top: 5px;
    left: 8px;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    font-size: 24px;
    height: 25px;
    line-height: 25px;
    width: 27px;
    padding: 3px 8px 3px 8px;
    display: block;
    border: 1px solid #020203;
    color: white;
    border-radius: 4px;
    -webkit-text-shadow: 0 -1px 0 black;
    -moz-text-shadow: 0 -1px 0 black;
    text-shadow: 0 -1px 0 black;
    background-color: #454545;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.big-menu {
	color: white;
	background: #ad1212 url(../img/old-browsers/colors/bg_big-menu.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#BB0000), to(#A00000));
	background: -webkit-linear-gradient(top, #BB0000, #A00000);
	background: -moz-linear-gradient(top, #BB0000, #A00000);
	background: -ms-linear-gradient(top, #BB0000, #A00000);
	background: -o-linear-gradient(top, #BB0000, #A00000);
	background: linear-gradient(top, #BB0000, #A00000);
}

.input-mini {
    width: 40px;
}

.bold {
    font-weight: bold;
}

.color-white {
    background: #b3b5b8;
}

/*Alignment*/
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-middle        { vertical-align: middle; }

@media only screen and (min-width: 992px) {
    #title-bar ~ #menu, #title-bar ~ #shortcuts{
        top:0px;
    }
    #title-bar + #open-menu,#menu-label {
        top: 112px;
    }
    #title-bar ~ #main {
        margin-top: 10px;
    }
    .main-frontend {
        margin-left: 8px;
    }
    #menu-label {
        z-index: 99;
        margin-right: 34px;
    }
}
@media only screen and (max-width: 992px) {
    .with-shortcuts #main {
        margin-left: 0px;
    }
}

.padding-right-10px {
    padding-right: 10px;
}

.table-pointer {
    cursor:pointer;
    cursor: hand;
}

.app-alert {
    font-size: 20px;
    line-height: 23px;
}