{% extends 'PequivenSEIPBundle:Template:Developer/Common/formLayout.html.twig' %}

{% trans_default_domain 'PequivenSEIPBundle' %}

{% import 'PequivenSEIPBundle:Template:Developer/Macros/actions.html.twig' as actions %}

{% block before_body %}
    {{ contentHeader(
        ("pequiven_seip.product_report.product_report"|trans ),
        ( 'pequiven.add'|trans({},'messages') )
    ) }}
{% endblock %}

{% block body -%}
    <form method="POST" action="{{ path("pequiven_product_report_group_create",{plantReport:app.request.get("plantReport") }) }}">
       <br /><br />
       {% include 'PequivenSEIPBundle:DataLoad/ProductReport/group:_form.html.twig' %}
       {{ actions.create() }}
       {{ form_rest(form) }}
   </form>
{% endblock %}